[submodule "chiliz-betting/lib/forge-std"]
	path = chiliz-betting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "chiliz-betting/lib/openzeppelin-contracts"]
	path = chiliz-betting/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "chiliz-betting/lib/openzeppelin-contracts-upgradeable"]
	path = chiliz-betting/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "chilli-tv/lib/forge-std"]
	path = chilli-tv/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "chilli-tv/lib/openzeppelin-contracts"]
	path = chilli-tv/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "chilli-tv/lib/openzeppelin-contracts-upgradeable"]
	path = chilli-tv/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "chiliz-tv/lib/forge-std"]
	path = chiliz-tv/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "chiliz-tv/lib/openzeppelin-contracts"]
	path = chiliz-tv/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "chiliz-tv/lib/openzeppelin-contracts-upgradeable"]
	path = chiliz-tv/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "chilli-tv/lib/forge-std"]
	path = chilli-tv/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "chilli-tv/lib/openzeppelin-contracts"]
	path = chilli-tv/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "chilli-tv/lib/openzeppelin-contracts-upgradeable"]
	path = chilli-tv/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "chiliz-tv/lib/v4-core"]
	path = chiliz-tv/lib/v4-core
	url = https://github.com/uniswap/v4-core
[submodule "chiliz-tv/lib/v4-periphery"]
	path = chiliz-tv/lib/v4-periphery
	url = https://github.com/uniswap/v4-periphery
